.button {
  background-color: #212121;
  border: none;
  color: #ffffff;
  width: 147px;
  gap: 10px;
  font-family: sans-serif;
  height: 49px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 24px;
  transition-duration: 0.4s;
}
